/* Estilos para el encabezado */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #212121;
    padding: 20px;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .nav-logo-container img {
    max-width: 100%;
    height: auto;
  }
  
  .profile-link {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .icofont-navigation-menu {
    font-size: 24px;
    cursor: pointer;
  }
  
  .nav-left-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-left-section li {
    margin: 0 10px;
  }
  
  .nav-left-section a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  /* Estilos para el contenido principal */
  main {
    margin-top: 100px;
    padding: 20px;
  }
  
  section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  
  article {
    flex-basis: calc(33.33% - 20px);
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
  }
  
  article img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  article h3 {
    margin: 0 0 10px;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  article p {
    margin: 0;
  }
  
  article a {
    display: inline-block;
    background-color: #212121;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 10px;
  }
  
  article a:hover {
    background-color: #fff;
    color: #212121;
  }
  
  /* Estilos para el pie de página */
  footer {
    background-color: #212121;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  