*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

main{
    width: 100vw;
    height: 100vh;
    background: rgb(36, 36, 203);
}

section{
    width: 80%;
    min-width: 320px;
    max-width: 500px;
    min-height: 500px;
    margin: 0 auto;
    background-color: #ffff;
}